.navbar {
  background-color: #f2feff;
}

.navbar a {
  cursor: pointer;
}

.pokemon-card {
  margin: 0 10px;
  text-align: center;
  align-items: center;
}

.pokemon-card .card-img-top {
  height: 80px;
}

.pokemon-card .btn {
  background-color: #709fb0;
  color: beige;
}

.pokemon-card .btn:hover {
  background-color: #2e4d58;
}

.pokemon-card:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}

.custom-container {
  margin: 0 auto;
}


.detail .card {
  width: 600px;
}

.detail .card-img-top {
  height: 300px;
}

.detail span {
  font-size: 17px;
  text-align: center;
}
